<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<thead>
<body class="container">
<tr>
    <h1>My Cat Page</h1>
</tr>
<table class="table table-striped">
    </thead>
    <form method="post">
        <div class="form-group">
            <nav th:replace="fragments :: navigation"></nav>
            <h3 id="dog-text">My awesome cats page</h3>
            <h5>My favorite cat is?</h5>
            <ul class="nav">
                <tr th:each="cat : ${cats}">
                    <td class="nav-item" th:text="${cat}"></td>
                </tr>

                <input type="text" name="addName" class="form-control">
            </ul>

            <input type="submit" value="Create" class="btn btn-success">

        </div>
    </form>
</table>
</body>
</html>